html {
    font-family: sans-serif;
    font-size: 10px;
    background-image: url(mypage/stock-vector-vector-of-pharmacy-logo-medical-symbol-or-icon-1022540740.jpg)
  }

  body {
    margin: 0;
  }

  header {
    background: blue;
    height: 100px;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
    text-transform: capitalize;
  }
article {
    padding: 10px;
    background: #eeeeee; 
    flex: 100rem
  }

  /* Add your flexbox CSS below here */

  section {
    display: flex;
    flex-direction: row;
    margin: 10px;
    height: 100px;
    width: 100%;
    }
ul {
    border: 0.5rem;
    margin: 0;
    display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 20px;
    }	
    li {
    list-style: none;
    padding: 3rem;
    font-size: 1.6rem;
    background-color: #9799a7;
    flex: 1 20rem;
    color: green;
    }
    a:link {color: #000000; 
        font-size: 3.2rem;}
     a:visited {
   color: #006600;
   font-size: 1.6rem;}
   a:hover {
   color: #FFCC00;
   font-size: 1.6rem;}
a:active {
   color: #FF00CC;
  font-size: 1.6rem; }
article {
padding: 3rem;
    font-size: 1.6rem;
    background-color: #9799a7;
    flex: 1 20rem;
    color: green;
      
  }  